<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'new_app/css/style.css' %}"> 
    <title>New Project</title>
</head>
<body>
    <div class="container">

        <div class="header">
            <h1>New Project</h1>
        </div>

        <div class="main">
            <div class="temp">Something Goes Here</div>
        </div>

        <div class="footer">
            <h6>Coding Dojo 2019</h6>
        </div>

    </div>
</body>
</html>