* {
    border: solid 1px red;
    margin: 0px;
    padding: 0px;
}

/* body {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
} */

.container {
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    vertical-align: top;
}

h1, h6 {
    text-align: center;
}

.main {
    text-align: center;
}

.temp {
    display: inline-block;
    vertical-align: top;
}